{% load static %}

<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pb-5">
                <h3 class="text-uppercase text-light">What is LegoIO?</h3>
                <hr class="hr">
                <p class="justify-text-center text-light">
                    An American software startup, specializing in
                Web Application and Machine Learning Application
                Development that aims to solve and serve real life problems
                </p>
                <div class="">
                    <span>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f mr-md-2" style="color: #fff; font-size: 20px;"></i></a>
                    </span>
                    <span>
                        <a href="https://twitter.com/"><i class="fab fa-twitter mr-md-2" style="color: #fff; font-size: 20px;"></i></a>
                    </span>
                    <span>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram mr-md-2" style="color: #fff; font-size: 20px;"></i></a>
                    </span>
                    <span>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin" style="color: #fff; font-size: 20px;"></i></a>
                    </span>
                </div>
            </div>
            <div class="col-md-6 pb-5">
                <h3 class="text-uppercase text-light">Address</h3>  
                <hr class="hr-address">
                <div class="d-flex">
                    <p class="text-light my-auto"><i class="text-light fa fa-map-marker pr-3 py-2 my-auto"></i> 12410 Milestone Center Dr Suite 600 Germantown, MD 20874</p>
                </div>
                <div class="d-flex">
                   <p class="text-light my-auto"><i class="text-light fa-solid fa-phone pr-3 py-2 my-auto"></i> 001-844-885-2340</p>
                </div>
                <div class="d-flex">
                    <p class="text-light my-auto"><i class="text-light fa fa-envelope pr-3 py-2 my-auto"></i> contact@legoio.com</p>
                </div>  
            </div>           
        </div>
    </div>
    <div class="container">
        <div class="footer-copyright">
            
        </div>
    </div>
</footer>
<!-- end footer -->
